<!DOCTYPE html>
<html lang="en">
<head>
{{template "layout/root/header.html" .}}
</head>
<body>
    {{template "layout/root/nav.html" .}}
    <div class="wrapper">
      <div class="">
        <div class="col-md-2">
        {{template "layout/root/side-left.html" .}}
      </div>
      <div class="col-md-10">
        <h1 class="">DASH</h1>
        <div class="main">
          
        </div>
      </div>
      </div>
    </div>
    <script script="text/javascript" src="/static/js/jquery-2.0.3.min.js"></script>
</body>
</html>